.distributor-segment {
  --background: transparent;
  border-bottom: 2px solid #e5e7eb;
  margin-bottom: 8px;

  ion-segment-button {
    --color: #94a3b8;
    --color-checked: var(--ion-xionico-color);
    --indicator-color: var(--ion-xionico-color);
    --indicator-height: 3px;
    text-transform: uppercase;
    font-size: 13px;
  }
}

.pill-segment {
  width: auto !important;
  max-width: fit-content;
  min-width: 100px;


  --background: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 2px;
  height: 36px;

  ion-segment-button {
    --color: #ffffff;
    --color-checked: #3880ff;
    --indicator-color: #ffffff;
    --indicator-height: 100%;
    --border-radius: 15px;
    margin: 0 2px;
    min-width: 90px;
    max-width: 150px;

    flex: 0 1 auto !important;

    ion-label {
      font-size: 11px !important;
      font-weight: 800 !important;
      letter-spacing: 0.5px;
    }
  }

  &::part(indicator-background) {
    border-radius: 50px;
  }
}

.distributor-pill-segment {
  width: auto !important;
  max-width: fit-content;
  background: #f4f5f8;
  border-radius: 50px;
  padding: 2px;
  border: none;

  ion-segment-button {
    --indicator-box-shadow: none;
    --indicator-color: #ffffff;
    --indicator-height: 100%;
    --color: #666;
    --color-checked: var(--ion-color-primary);
    --border-radius: 15px;
    min-width: 110px;
    height: 32px;
    margin: 0 2px;

    ion-label {
      font-size: 11px !important;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
  }

  &::part(indicator-background) {
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
}
