<ngx-spinner [fullScreen]="true" [type]="'square-jelly-box'">
  <p style="color: white" > Cargando... </p>
</ngx-spinner>

<div class="bg-white rounded-[2rem] shadow-2xl border border-gray-100 overflow-hidden flex flex-col h-full">

  <div class="bg-gradient-to-br from-blue-500 to-blue-700 p-6 relative">
    <div class="flex items-center gap-3">
      <ion-icon name="person-add-outline" class="text-white text-3xl"></ion-icon>
      <h2 class="text-white text-xl font-bold tracking-tight">{{title()}}</h2>
      <span
        class="ml-auto bg-[#FFC409] text-black text-[10px] font-bold px-3 py-1 rounded-full shadow-md uppercase tracking-wider">
        {{ user().approved ? 'Activo' : 'Pendiente' }}
      </span>
    </div>
  </div>

  <div class="p-6 space-y-4 flex-grow">

    <div class="space-y-1 opacity-70 grayscale-[50%]">
      <app-custom-input [inputLabel]="'E-mail'" [value]="user().email" [isPassword]="false" [iconName]="'mail-outline'"
        [class]="'wfull'" />
      <app-custom-input [inputLabel]="'Nombre'" [value]="user().name" [isPassword]="false" [iconName]="'person-outline'"
        [class]="'wfull'" />
      <app-custom-input [inputLabel]="'Distribuidora Objetivo'" [value]="user().distribuidoraObjetivo"
        [isPassword]="false" [iconName]="'business-outline'" [class]="'wfull'" />
    </div>

     <app-custom-select label="Rol del Usuario" icon="layers-outline" [control]="getControl('role')">
      @if(adminUser()) {
        <ion-select-option [value]="0">Admin</ion-select-option>
      }
      <ion-select-option [value]="1">Soporte</ion-select-option>
      <ion-select-option [value]="2">Usuario</ion-select-option>
    </app-custom-select>

    <div class="border-b border-gray-200">
      <ion-item lines="none" class="--background: transparent;">
        <ion-icon name="checkmark-done-circle-outline" slot="start" color="xionico" class="opacity-60"></ion-icon>
        <ion-select label="Estado de aprobación" label-placement="floating" [formControl]="getControl('approved')">
          <ion-select-option [value]="true">Sí</ion-select-option>
          <ion-select-option [value]="false">No</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <app-custom-select label="Distribuidora Asignada" icon="business-outline"
      [control]="getControl('distribuidoraAsignada')" [options]="uniqueDistributors()" (selectionChange)="distSelect($event)">
    </app-custom-select>

    <app-custom-select label="Sucursales" icon="map-outline" [multiple]="true" [control]="getControl('sucursales')"
      [options]="sucursalesFiltradas()">
    </app-custom-select>

    <ion-button (click)="onConfirm()" expand="block" color="xionico" class="h-12 mt-6" [disabled]="cardForm.invalid">
      <ion-icon slot="start" name="person-add-outline"></ion-icon>
      {{okButton()}}
    </ion-button>

    @if(adminUser()){
      <div class="relative flex py-2 items-center">
      <div class="flex-grow border-t border-gray-200"></div>
      <span class="flex-shrink mx-2 text-gray-300 text-xs italic">o</span>
      <div class="flex-grow border-t border-gray-200"></div>
    </div>

    <ion-button (click)="onReject()" expand="block" color="danger" class="h-12 font-bold shadow-lg">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      {{redButton()}}
    </ion-button>
    }
  </div>
</div>
