<div class="border-b border-gray-200">
  <ion-item lines="none" class="--background: transparent;">
    <ion-icon [name]="icon()" slot="start" color="xionico" class="opacity-60 mr-2"></ion-icon>
    <ion-select
      [label]="label()"
      label-placement="'floating'"
      [multiple]="multiple()"
      [formControl]="control()"
      (ionChange)="optionsChange($event)"
      >

      <ng-content></ng-content>

      @for (opt of options(); track opt) {
        <ion-select-option [value]="opt">{{ opt }}</ion-select-option>
      }
    </ion-select>
  </ion-item>
</div>
